# caches
__pycache__
.mypy_cache/
.ruff_cache
.robotcode_cache
.pytest_cache/

# Distribution / packaging
build/
dist/
sdist/
wheels/
*.egg-info/

# coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Environments
.env
.venv
env/
venv/

# IDE config and local tool settings
.vscode/launch.json
.vscode/settings.json
.robot.toml

# default logs location for the repo
tests/logs

# generated test library
tests/generated
